In [51]:
import pandas as pd
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import random
from datetime import datetime
import numpy as np
import re
import os
import geopandas as gpd


font_path = r'C:/Users/user/NanumFontSetup_TTF_ALL/NanumGothic.ttf'
font_name = font_manager.FontProperties(fname=font_path, size=18).get_name()
rc('font',family=font_name)

In [65]:
area = pd.read_csv('../data/전처리 파일/표제부/연면적/1. 주소별 연면적.csv')
address = pd.read_csv('../data/전처리 파일/표제부/연면적/')

In [54]:
area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18634 entries, 0 to 18633
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대지위치    18634 non-null  object
 1   주용도코드명  18634 non-null  object
 2   연면적     18634 non-null  float64
dtypes: float64(1), object(2)
memory usage: 436.9+ KB

In [68]:
address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20364 entries, 0 to 20363
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   address    20364 non-null  object
 1   latitude   20364 non-null  float64
 2   longitude  20364 non-null  float64
 3   주용도코드명     20364 non-null  object
 4   연면적        20364 non-null  float64
dtypes: float64(3), object(2)
memory usage: 795.6+ KB

In [56]:
address.columns

Index(['대지위치', 'latitude', 'longitude'], dtype='object')

In [69]:
Int_data = area.merge(address,how='inner',right_on='address',left_on='대지위치')
Int_data

,Unnamed: 0,대지위치,주용도코드명_x,연면적_x,address,latitude,longitude,주용도코드명_y,연면적_y
0,0,인천광역시 부평구 갈산동 10-3번지,제2종근린생활시설,410.44,인천광역시 부평구 갈산동 10-3번지,37.520611,126.729132,제2종근린생활시설,410.44
1,1,인천광역시 부평구 갈산동 100-25번지,단독주택,70.71,인천광역시 부평구 갈산동 100-25번지,37.519143,126.726160,단독주택,70.71
2,2,인천광역시 부평구 갈산동 100-6번지,단독주택,66.28,인천광역시 부평구 갈산동 100-6번지,37.519143,126.726160,단독주택,66.28
3,3,인천광역시 부평구 갈산동 101-6번지,단독주택,146.32,인천광역시 부평구 갈산동 101-6번지,37.519143,126.726160,단독주택,146.32
4,3,인천광역시 부평구 갈산동 101-6번지,단독주택,146.32,인천광역시 부평구 갈산동 101-6번지,37.519143,126.726160,제1종근린생활시설,131.83
...,...,...,...,...,...,...,...,...,...
21575,20381,인천광역시 부평구 청천동 98번지,단독주택,23.14,인천광역시 부평구 청천동 98번지,37.515676,126.703044,단독주택,23.14
21576,20382,인천광역시 부평구 청천동 산 12-13번지,단독주택,4.00,인천광역시 부평구 청천동 산 12-13번지,37.515183,126.698225,단독주택,4.00
21577,20383,인천광역시 부평구 청천동 산 38-1번지,제1종근린생활시설,25.09,인천광역시 부평구 청천동 산 38-1번지,37.517964,126.694535,제1종근린생활시설,25.09
21578,20384,인천광역시 부평구 청천동 산 6-21번지,단독주택,10.57,인천광역시 부평구 청천동 산 6-21번지,37.516572,126.701629,단독주택,10.57
21579,20385,인천광역시 부평구 청천동 산 6-3번지,단독주택,156.58,인천광역시 부평구 청천동 산 6-3번지,37.518585,126.699469,단독주택,156.58

In [72]:
Int_data.columns

Index(['Unnamed: 0', '대지위치', '주용도코드명_x', '연면적_x', 'address', 'latitude',
       'longitude', '주용도코드명_y', '연면적_y'],
      dtype='object')

In [73]:
Int_data.drop('Unnamed: 0',axis=1,inplace=True)

In [74]:
Int_data.isnull().sum()

대지위치         0
주용도코드명_x     0
연면적_x        0
address      0
latitude     0
longitude    0
주용도코드명_y     0
연면적_y        0
dtype: int64

In [61]:
# 필요없는 row index 제거
Int_data_idx = Int_data[Int_data['latitude'].isnull()].index

In [62]:
use_data = Int_data.drop(Int_data_idx,axis=0)
use_data

                          대지위치     주용도코드명     연면적   latitude   longitude
0         인천광역시 부평구 갈산동 10-3번지  제2종근린생활시설  410.44  37.520611  126.729132
1       인천광역시 부평구 갈산동 100-25번지       단독주택   70.71  37.519143  126.726160
2        인천광역시 부평구 갈산동 100-6번지       단독주택   66.28  37.519143  126.726160
3        인천광역시 부평구 갈산동 101-6번지       단독주택  146.32  37.519143  126.726160
4        인천광역시 부평구 갈산동 101-6번지  제1종근린생활시설  131.83  37.519143  126.726160
...                        ...        ...     ...        ...         ...
18629      인천광역시 부평구 청천동 9-9번지  제2종근린생활시설  685.02  37.519862  126.705818
18630  인천광역시 부평구 청천동 산 12-13번지       단독주택    4.00  37.515183  126.698225
18631   인천광역시 부평구 청천동 산 38-1번지  제1종근린생활시설   25.09  37.517964  126.694535
18632   인천광역시 부평구 청천동 산 6-21번지       단독주택   10.57  37.516572  126.701629
18633    인천광역시 부평구 청천동 산 6-3번지       단독주택    9.59  37.518585  126.699469

[18621 rows x 5 columns]

In [12]:
use_data.to_csv('../data/전처리 파일/표제부/연면적/연면적(위치 포함,1126).csv',index=False)

# 1. 기초구역별, 유형별 연면적 연산

In [35]:
data = gpd.read_file('../data/전처리 파일/표제부/연면적/3. 기초구역별 건물 연면적/기초구역별_건물_연면적_5181.shp')
data.head()

,BAS_AR,BAS_ID,BAS_MGT_SN,CTP_KOR_NM,MVMN_DE,MVMN_RESN,NTFC_DE,OPERT_DE,SIG_CD,SIG_KOR_NM,대지위치,주용도코드,연면적,latitude,longitude,geometry
0,2.648838,21459,2823700025,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 일신동 235번지,단독주택,3.31,37.478742,126.739664,"POLYGON ((176641.304 442645.152, 176647.527 44..."
1,2.648838,21459,2823700025,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 일신동 385번지,단독주택,92.56,37.473992,126.745066,"POLYGON ((176641.304 442645.152, 176647.527 44..."
2,2.648838,21459,2823700025,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 일신동 산 11번지,제1종근린생활시설,131.76,37.477358,126.736085,"POLYGON ((176641.304 442645.152, 176647.527 44..."
3,0.156212,21384,2823700061,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 산곡동 307-108번지,단독주택,43.60,37.489994,126.706784,"POLYGON ((174332.882 443549.806, 174341.717 44..."
4,0.156212,21384,2823700061,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 산곡동 307번지,공동주택,31166.94,37.489994,126.706784,"POLYGON ((174332.882 443549.806, 174341.717 44..."

In [37]:
basis_area = data.loc[:,['BAS_ID','geometry']]
basis_area.drop_duplicates('BAS_ID',keep='first',inplace=True,ignore_index=True)
basis_area

    BAS_ID                                           geometry
0    21459  POLYGON ((176641.304 442645.152, 176647.527 44...
1    21384  POLYGON ((174332.882 443549.806, 174341.717 44...
2    21403  POLYGON ((176460.207 443392.656, 176503.040 44...
3    21447  POLYGON ((173371.315 442923.042, 173431.784 44...
4    21421  POLYGON ((176813.663 442559.317, 176802.418 44...
..     ...                                                ...
156  21423  POLYGON ((176671.251 442643.859, 176686.836 44...
157  21441  POLYGON ((173892.886 442465.677, 173876.623 44...
158  21446  POLYGON ((173718.851 441369.606, 173717.873 44...
159  21453  POLYGON ((173523.162 441167.346, 173522.717 44...
160  21432  POLYGON ((174941.445 442603.951, 174999.172 44...

[161 rows x 2 columns]

In [38]:
# null data 제거
data.drop(data[data['latitude'].isnull()].index,axis=0,inplace=True)
data.shape

(18620, 16)

In [39]:
display(data['주용도코드'].unique())
display(len(data['BAS_ID'].unique()))

array(['단독주택', '제1종근린생활시설', '공동주택', '제2종근린생활시설', '판매시설', '업무시설', '근린생활시설',
       '의료시설', '판매및영업시설'], dtype=object)

158

In [40]:
# 사용할 row 추출
use_row = {'제1종근린생활시설','제2종근린생활시설','단독주택','공동주택'}
use_col = ['BAS_ID','대지위치','주용도코드','연면적','geometry']

use_data = data.loc[data['주용도코드'].isin(use_row),use_col].reset_index(drop=True)
use_data['주용도코드'].unique()

array(['단독주택', '제1종근린생활시설', '공동주택', '제2종근린생활시설'], dtype=object)

# 2. 사용하지 않는 Row들의 데이터

In [41]:
not_use_data = data.loc[~data['주용도코드'].isin(use_row), use_col]
not_use_data

,BAS_ID,대지위치,주용도코드,연면적,geometry
6,21384,인천광역시 부평구 산곡동 311-151번지,판매시설,33973.997,"POLYGON ((174332.882 443549.806, 174341.717 44..."
40,21403,인천광역시 부평구 부평동 495-4번지,업무시설,2394.670,"POLYGON ((176460.207 443392.656, 176503.040 44..."
45,21403,인천광역시 부평구 부평동 496-6번지,업무시설,4239.850,"POLYGON ((176460.207 443392.656, 176503.040 44..."
51,21403,인천광역시 부평구 부평동 498-2번지,업무시설,3840.840,"POLYGON ((176460.207 443392.656, 176503.040 44..."
53,21403,인천광역시 부평구 부평동 499-11번지,업무시설,3554.675,"POLYGON ((176460.207 443392.656, 176503.040 44..."
...,...,...,...,...,...
18167,21446,인천광역시 부평구 십정동 408-56번지,업무시설,3841.180,"POLYGON ((173718.851 441369.606, 173717.873 44..."
18169,21446,인천광역시 부평구 십정동 408-60번지,업무시설,1916.920,"POLYGON ((173718.851 441369.606, 173717.873 44..."
18176,21446,인천광역시 부평구 십정동 409-23번지,업무시설,1948.785,"POLYGON ((173718.851 441369.606, 173717.873 44..."
18184,21446,인천광역시 부평구 십정동 409-5번지,업무시설,1836.640,"POLYGON ((173718.851 441369.606, 173717.873 44..."
18447,21453,인천광역시 부평구 십정동 441-5번지,업무시설,3938.100,"POLYGON ((173523.162 441167.346, 173522.717 44..."

In [42]:
not_use = not_use_data.groupby(['BAS_ID','주용도코드'])['연면적'].sum().to_frame().reset_index()
not_use

    BAS_ID    주용도코드        연면적
0    21302     업무시설  41959.310
1    21302  판매및영업시설   7603.950
2    21302     판매시설   2747.600
3    21304   근린생활시설      0.990
4    21304     업무시설   1297.745
..     ...      ...        ...
154  21450   근린생활시설   1223.150
155  21450     판매시설   2738.900
156  21451     업무시설   3376.340
157  21452     업무시설   7417.600
158  21453     업무시설   3938.100

[159 rows x 3 columns]

# 3. 사용 데이터

In [44]:
# 근린생활시설 용어 통합
use_row_index = use_data[use_data['주용도코드'].str.contains('종')].index

for idx, row in use_data.iterrows():
    if idx in use_row_index:
        use_data.iloc[idx,2] = '근린생활시설'

In [45]:
use_data['주용도코드'].unique()

array(['단독주택', '근린생활시설', '공동주택'], dtype=object)

In [46]:
# 피벗테이블 생성
agg_data = pd.pivot_table(use_data, values = '연면적',columns='주용도코드', index='BAS_ID', aggfunc=np.sum
                        ,fill_value=0)
agg_data.reset_index(inplace=True)
agg_data

주용도코드 BAS_ID        공동주택      근린생활시설       단독주택
0      21300   8746.7500   6932.8100    845.180
1      21301   9443.9000   2400.7200     43.830
2      21302  26311.6100   1760.5200    153.690
3      21303    890.5200   1589.9600    364.010
4      21304   9697.1440  24688.7750  27159.622
..       ...         ...         ...        ...
152    21455   9332.7650   7024.9660  12320.495
153    21456      0.0000    264.6700      0.000
154    21457  24293.5742  16755.7999   4274.600
155    21458  29907.7670  11534.8600  15216.885
156    21459      0.0000    131.7600     95.870

[157 rows x 4 columns]

# 4. 총연면적 생성

In [47]:
total_building_area = data.loc[:,use_col].groupby('BAS_ID')['연면적'].sum().to_frame().reset_index()
total_building_area

    BAS_ID         연면적
0    21300  16524.7400
1    21301  11888.4500
2    21302  80536.6800
3    21303   2844.4900
4    21304  65842.7360
..     ...         ...
153  21455  28678.2260
154  21456    264.6700
155  21457  45323.9741
156  21458  56659.5120
157  21459    227.6300

[158 rows x 2 columns]

In [48]:
# 기초구역별 총연면적과 공동, 근린, 단독 주택의 연면적을 병합
add_total_building_area = agg_data.merge(total_building_area,how='right',right_on='BAS_ID',left_on='BAS_ID').fillna(0)

# 공동,근린,단독 주택의 비율 연산
add_total_building_area.rename(columns={'연면적':'총연면적'},inplace=True)
add_total_building_area['공동주택 비율'] = (add_total_building_area['공동주택'] / add_total_building_area['총연면적']).apply(lambda x : round(x,3)*100)
add_total_building_area['근린생활시설 비율'] = (add_total_building_area['근린생활시설'] / add_total_building_area['총연면적']).apply(lambda x : round(x,3)*100)
add_total_building_area['단독주택 비율'] = (add_total_building_area['단독주택'] / add_total_building_area['총연면적']).apply(lambda x : round(x,3)*100)

# 널값 채우고 출력
add_total_building_area

,BAS_ID,공동주택,근린생활시설,단독주택,총연면적,공동주택 비율,근린생활시설 비율,단독주택 비율
0,21300,8746.7500,6932.8100,845.180,16524.7400,52.9,42.0,5.1
1,21301,9443.9000,2400.7200,43.830,11888.4500,79.4,20.2,0.4
2,21302,26311.6100,1760.5200,153.690,80536.6800,32.7,2.2,0.2
3,21303,890.5200,1589.9600,364.010,2844.4900,31.3,55.9,12.8
4,21304,9697.1440,24688.7750,27159.622,65842.7360,14.7,37.5,41.2
...,...,...,...,...,...,...,...,...
153,21455,9332.7650,7024.9660,12320.495,28678.2260,32.5,24.5,43.0
154,21456,0.0000,264.6700,0.000,264.6700,0.0,100.0,0.0
155,21457,24293.5742,16755.7999,4274.600,45323.9741,53.6,37.0,9.4
156,21458,29907.7670,11534.8600,15216.885,56659.5120,52.8,20.4,26.9
157,21459,0.0000,131.7600,95.870,227.6300,0.0,57.9,42.1

In [49]:
result = basis_area.merge(add_total_building_area,how='left',right_on='BAS_ID',left_on='BAS_ID').fillna(0)
result.sort_values(by='BAS_ID',inplace=True)
result.reset_index(inplace=True,drop=True)
# result= result.fillna(0)
result

,BAS_ID,geometry,공동주택,근린생활시설,단독주택,총연면적,공동주택 비율,근린생활시설 비율,단독주택 비율
0,21300,"POLYGON ((172624.863 447152.276, 172670.940 44...",8746.7500,6932.8100,845.180,16524.7400,52.9,42.0,5.1
1,21301,"POLYGON ((173295.105 447039.530, 173295.147 44...",9443.9000,2400.7200,43.830,11888.4500,79.4,20.2,0.4
2,21302,"POLYGON ((173891.544 446881.024, 173891.543 44...",26311.6100,1760.5200,153.690,80536.6800,32.7,2.2,0.2
3,21303,"POLYGON ((173668.839 446507.436, 173658.833 44...",890.5200,1589.9600,364.010,2844.4900,31.3,55.9,12.8
4,21304,"POLYGON ((173891.543 446881.019, 173891.500 44...",9697.1440,24688.7750,27159.622,65842.7360,14.7,37.5,41.2
...,...,...,...,...,...,...,...,...,...
156,21456,"POLYGON ((175340.378 442397.517, 175349.045 44...",0.0000,264.6700,0.000,264.6700,0.0,100.0,0.0
157,21457,"POLYGON ((178051.841 442436.153, 178041.770 44...",24293.5742,16755.7999,4274.600,45323.9741,53.6,37.0,9.4
158,21458,"POLYGON ((176592.215 442885.941, 176595.066 44...",29907.7670,11534.8600,15216.885,56659.5120,52.8,20.4,26.9
159,21459,"POLYGON ((176641.304 442645.152, 176647.527 44...",0.0000,131.7600,95.870,227.6300,0.0,57.9,42.1
160,21460,"POLYGON ((178740.177 441942.916, 178742.755 44...",0.0000,0.0000,0.000,0.0000,0.0,0.0,0.0

In [28]:
result.to_csv('../data/전처리 파일/표제부/연면적/기초구역별_건물_연면적(집계후,1126).csv',index=False)