In [25]:
import pandas as pd
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import random
from datetime import datetime
import numpy as np
import re
import os
import geopandas as gpd


font_path = r'C:/Users/user/NanumFontSetup_TTF_ALL/NanumGothic.ttf'
font_name = font_manager.FontProperties(fname=font_path, size=18).get_name()
rc('font',family=font_name)

In [23]:
preprocessing_path = 'C:\\Data Analysis\\부평구 상권분석\\data\\전처리 파일\\연면적'

In [12]:
area = pd.read_csv('./data/전처리 파일/연면적/주소별 연면적.csv')
address = pd.read_csv('./data/전처리 파일/표제부 정제파일(위치).csv')

In [13]:
address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19791 entries, 0 to 19790
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   address    19791 non-null  object
 1   latitude   19771 non-null  float64
 2   longitude  19771 non-null  float64
dtypes: float64(2), object(1)
memory usage: 464.0+ KB

In [14]:
address[address['latitude'].isnull()].index

Int64Index([ 2717,  2718,  2719,  3044, 10860, 10861, 10862, 14192, 14193,
            14194, 14565, 14568, 15492, 15493, 15987, 16670, 16671, 18878,
            18985, 19443],
           dtype='int64')

In [15]:
Int_data = address.merge(area,how='inner',right_on='대지위치',left_on='address')
Int_data

,address,latitude,longitude,Unnamed: 0,대지위치,주용도코드명,연면적
0,인천광역시 부평구 부평동 10-1001번지,37.503472,126.732671,3772,인천광역시 부평구 부평동 10-1001번지,공동주택,657.11
1,인천광역시 부평구 부평동 10-1002번지,37.503334,126.732684,3773,인천광역시 부평구 부평동 10-1002번지,공동주택,657.61
2,인천광역시 부평구 부평동 10-1003번지,37.503189,126.732691,3774,인천광역시 부평구 부평동 10-1003번지,공동주택,657.61
3,인천광역시 부평구 부평동 10-1004번지,37.503038,126.732619,3775,인천광역시 부평구 부평동 10-1004번지,제1종근린생활시설,488.10
4,인천광역시 부평구 부평동 10-1007번지,37.503057,126.732774,3776,인천광역시 부평구 부평동 10-1007번지,제1종근린생활시설,386.88
...,...,...,...,...,...,...,...
20381,인천광역시 부평구 구산동 8-3번지,37.482609,126.755177,1124,인천광역시 부평구 구산동 8-3번지,제2종근린생활시설,493.10
20382,인천광역시 부평구 구산동 9-5번지,37.481209,126.754155,1125,인천광역시 부평구 구산동 9-5번지,단독주택,3856.47
20383,인천광역시 부평구 구산동 93-1번지,37.478352,126.750897,1126,인천광역시 부평구 구산동 93-1번지,제2종근린생활시설,84.33
20384,인천광역시 부평구 구산동 95-1번지,37.479088,126.750715,1127,인천광역시 부평구 구산동 95-1번지,제1종근린생활시설,958.87
20385,인천광역시 부평구 구산동 산 8-2번지,37.473754,126.755882,1128,인천광역시 부평구 구산동 산 8-2번지,단독주택,60.50

In [16]:
# 필요없는 컬럼 제거
drop_not_use_data = Int_data.drop(['Unnamed: 0','대지위치'],axis=1)
drop_not_use_data

                       address   latitude   longitude     주용도코드명      연면적
0      인천광역시 부평구 부평동 10-1001번지  37.503472  126.732671       공동주택   657.11
1      인천광역시 부평구 부평동 10-1002번지  37.503334  126.732684       공동주택   657.61
2      인천광역시 부평구 부평동 10-1003번지  37.503189  126.732691       공동주택   657.61
3      인천광역시 부평구 부평동 10-1004번지  37.503038  126.732619  제1종근린생활시설   488.10
4      인천광역시 부평구 부평동 10-1007번지  37.503057  126.732774  제1종근린생활시설   386.88
...                        ...        ...         ...        ...      ...
20381      인천광역시 부평구 구산동 8-3번지  37.482609  126.755177  제2종근린생활시설   493.10
20382      인천광역시 부평구 구산동 9-5번지  37.481209  126.754155       단독주택  3856.47
20383     인천광역시 부평구 구산동 93-1번지  37.478352  126.750897  제2종근린생활시설    84.33
20384     인천광역시 부평구 구산동 95-1번지  37.479088  126.750715  제1종근린생활시설   958.87
20385    인천광역시 부평구 구산동 산 8-2번지  37.473754  126.755882       단독주택    60.50

[20386 rows x 5 columns]

In [17]:
drop_not_use_data.isnull().sum()

address       0
latitude     22
longitude    22
주용도코드명        0
연면적           0
dtype: int64

In [20]:
# 필요없는 row index 제거
drop_data_row_data_idx = drop_not_use_data[drop_not_use_data['latitude'].isnull()].index

In [21]:
use_data = drop_not_use_data.drop(drop_data_row_data_idx,axis=0)
use_data

                       address   latitude   longitude     주용도코드명      연면적
0      인천광역시 부평구 부평동 10-1001번지  37.503472  126.732671       공동주택   657.11
1      인천광역시 부평구 부평동 10-1002번지  37.503334  126.732684       공동주택   657.61
2      인천광역시 부평구 부평동 10-1003번지  37.503189  126.732691       공동주택   657.61
3      인천광역시 부평구 부평동 10-1004번지  37.503038  126.732619  제1종근린생활시설   488.10
4      인천광역시 부평구 부평동 10-1007번지  37.503057  126.732774  제1종근린생활시설   386.88
...                        ...        ...         ...        ...      ...
20381      인천광역시 부평구 구산동 8-3번지  37.482609  126.755177  제2종근린생활시설   493.10
20382      인천광역시 부평구 구산동 9-5번지  37.481209  126.754155       단독주택  3856.47
20383     인천광역시 부평구 구산동 93-1번지  37.478352  126.750897  제2종근린생활시설    84.33
20384     인천광역시 부평구 구산동 95-1번지  37.479088  126.750715  제1종근린생활시설   958.87
20385    인천광역시 부평구 구산동 산 8-2번지  37.473754  126.755882       단독주택    60.50

[20364 rows x 5 columns]

In [22]:
use_data.to_csv('./data/전처리 파일/연면적(주소포함).csv',index=False)

## 기초구역별, 유형별 연면적 연산

In [272]:
data = gpd.read_file(os.path.join(preprocessing_path,'기초구역별_건물_연면적_5181.shp'))
data.head()

,BAS_AR,BAS_ID,BAS_MGT_SN,CTP_KOR_NM,MVMN_DE,MVMN_RESN,NTFC_DE,OPERT_DE,SIG_CD,SIG_KOR_NM,address,latitude,longitude,주용도코드,연면적,geometry
0,2.648838,21459,2823700025,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 일신동 235번지,37.478742,126.739664,단독주택,78.52,"POLYGON ((176641.304 442645.152, 176647.527 44..."
1,2.648838,21459,2823700025,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 일신동 385번지,37.473992,126.745066,단독주택,92.56,"POLYGON ((176641.304 442645.152, 176647.527 44..."
2,2.648838,21459,2823700025,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 일신동 산 11번지,37.477358,126.736085,제1종근린생활시설,131.76,"POLYGON ((176641.304 442645.152, 176647.527 44..."
3,0.156212,21384,2823700061,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 산곡동 307-108번지,37.489994,126.706784,단독주택,43.60,"POLYGON ((174332.882 443549.806, 174341.717 44..."
4,0.156212,21384,2823700061,인천광역시,None,None,20121221,None,28237,부평구,인천광역시 부평구 산곡동 307번지,37.489994,126.706784,공동주택,229281.23,"POLYGON ((174332.882 443549.806, 174341.717 44..."

In [273]:
basis_area = data.loc[:,['BAS_ID','geometry']]
basis_area.drop_duplicates('BAS_ID',keep='first',inplace=True,ignore_index=True)
basis_area

    BAS_ID                                           geometry
0    21459  POLYGON ((176641.304 442645.152, 176647.527 44...
1    21384  POLYGON ((174332.882 443549.806, 174341.717 44...
2    21403  POLYGON ((176460.207 443392.656, 176503.040 44...
3    21447  POLYGON ((173371.315 442923.042, 173431.784 44...
4    21421  POLYGON ((176813.663 442559.317, 176802.418 44...
..     ...                                                ...
156  21423  POLYGON ((176671.251 442643.859, 176686.836 44...
157  21441  POLYGON ((173892.886 442465.677, 173876.623 44...
158  21446  POLYGON ((173718.851 441369.606, 173717.873 44...
159  21453  POLYGON ((173523.162 441167.346, 173522.717 44...
160  21432  POLYGON ((174941.445 442603.951, 174999.172 44...

[161 rows x 2 columns]

In [274]:
# null data 제거
data.drop(data[data['latitude'].isnull()].index,axis=0,inplace=True)

In [275]:
display(data['주용도코드'].unique())
display(len(data['BAS_ID'].unique()))

array(['단독주택', '제1종근린생활시설', '공동주택', '제2종근린생활시설', '판매시설', '업무시설', '근린생활시설',
       '의료시설', '판매및영업시설', '관광휴게시설'], dtype=object)

159

In [276]:
# 사용할 row 추출
use_row = {'제1종근린생활시설','제2종근린생활시설','단독주택','공동주택'}
use_col = ['BAS_ID','address','주용도코드','연면적','geometry']

use_data = data.loc[data['주용도코드'].isin(use_row),use_col].reset_index(drop=True)
use_data['주용도코드'].unique()

array(['단독주택', '제1종근린생활시설', '공동주택', '제2종근린생활시설'], dtype=object)

## 사용하지 않는 Row들의 데이터

In [277]:
not_use_data = data.loc[~data['주용도코드'].isin(use_row), use_col]
not_use_data

,BAS_ID,address,주용도코드,연면적,geometry
6,21384,인천광역시 부평구 산곡동 311-151번지,판매시설,33973.997,"POLYGON ((174332.882 443549.806, 174341.717 44..."
16,21403,인천광역시 부평구 부평동 495-4번지,업무시설,2394.670,"POLYGON ((176460.207 443392.656, 176503.040 44..."
21,21403,인천광역시 부평구 부평동 496-6번지,업무시설,4239.850,"POLYGON ((176460.207 443392.656, 176503.040 44..."
27,21403,인천광역시 부평구 부평동 498-2번지,업무시설,3840.840,"POLYGON ((176460.207 443392.656, 176503.040 44..."
31,21403,인천광역시 부평구 부평동 499-11번지,업무시설,3554.675,"POLYGON ((176460.207 443392.656, 176503.040 44..."
...,...,...,...,...,...
19898,21446,인천광역시 부평구 십정동 408-56번지,업무시설,3841.180,"POLYGON ((173718.851 441369.606, 173717.873 44..."
19900,21446,인천광역시 부평구 십정동 408-60번지,업무시설,1916.920,"POLYGON ((173718.851 441369.606, 173717.873 44..."
19908,21446,인천광역시 부평구 십정동 409-23번지,업무시설,1948.785,"POLYGON ((173718.851 441369.606, 173717.873 44..."
19916,21446,인천광역시 부평구 십정동 409-5번지,업무시설,1836.640,"POLYGON ((173718.851 441369.606, 173717.873 44..."
20185,21453,인천광역시 부평구 십정동 441-5번지,업무시설,3938.100,"POLYGON ((173523.162 441167.346, 173522.717 44..."

In [278]:
not_use = not_use_data.groupby(['BAS_ID','주용도코드'])['연면적'].sum().to_frame().reset_index()
not_use

    BAS_ID    주용도코드        연면적
0    21302     업무시설  52497.090
1    21302  판매및영업시설  17757.270
2    21302     판매시설  21113.450
3    21304   근린생활시설      0.990
4    21304     업무시설   1297.745
..     ...      ...        ...
157  21450   근린생활시설   1223.150
158  21450     판매시설   2738.900
159  21451     업무시설   3376.340
160  21452     업무시설   7417.600
161  21453     업무시설   3938.100

[162 rows x 3 columns]

In [279]:
display(not_use[not_use['주용도코드'] == '판매시설'].describe())
display(not_use[not_use['주용도코드'] == '판매시설'].sort_values(by='연면적'))

                 연면적
count      27.000000
mean    17773.516074
std     29537.907992
min       148.340000
25%      1893.420500
50%      3206.770000
75%     24658.328000
max    141198.540000

    BAS_ID 주용도코드         연면적
37   21348  판매시설     148.340
91   21390  판매시설     650.040
11   21311  판매시설    1332.000
8    21309  판매시설    1360.480
29   21331  판매시설    1438.500
106  21395  판매시설    1809.120
21   21318  판매시설    1859.620
67   21376  판매시설    1927.221
113  21401  판매시설    2227.660
142  21427  판매시설    2398.890
150  21437  판매시설    2706.880
158  21450  판매시설    2738.900
134  21419  판매시설    2740.000
14   21313  판매시설    3206.770
76   21382  판매시설    3330.390
60   21364  판매시설    5861.230
103  21394  판매시설   11328.380
69   21377  판매시설   14727.640
2    21302  판매시설   21113.450
94   21391  판매시설   23689.526
86   21388  판매시설   25627.130
82   21387  판매시설   28329.820
78   21384  판매시설   33973.997
99   21393  판매시설   35325.540
55   21362  판매시설   50212.660
23   21320  판매시설   58622.210
36   21344  판매시설  141198.540

## 사용 데이터

In [281]:
len(basis_area['BAS_ID'].unique())
set1 = set(basis_area['BAS_ID'].unique())

len(use_data['BAS_ID'].unique())
set2 = set(use_data['BAS_ID'].unique())

# 필요없는 row을 제거하였을 경우 없어지는 기초구역을 추출
diff = list(set1-set2)
diff

['21375', '21460', '21339']

In [282]:
# 근린생활시설 용어 통합
use_row_index = use_data[use_data['주용도코드'].str.contains('종')].index

for idx, row in use_data.iterrows():
    if idx in use_row_index:
        use_data.iloc[idx,2] = '근린생활시설'

In [283]:
use_data['주용도코드'].unique()

array(['단독주택', '근린생활시설', '공동주택'], dtype=object)

In [284]:
# 피벗테이블 생성
agg_data = pd.pivot_table(use_data, values = '연면적',columns='주용도코드', index='BAS_ID', aggfunc=np.sum
                        ,fill_value=0)
agg_data.reset_index(inplace=True)
agg_data

주용도코드 BAS_ID         공동주택      근린생활시설       단독주택
0      21300   10159.0300   8593.2900   1141.120
1      21301   37588.8090   2656.7800     43.830
2      21302   39264.4100   1760.5200    220.430
3      21303    1334.5200   1589.9600   1411.410
4      21304   14820.8240  27132.7250  32630.249
..       ...          ...         ...        ...
153    21455   11170.2250   7032.3860  14411.150
154    21456       0.0000    264.6700      0.000
155    21457  105772.8178  17128.6799   5662.219
156    21458  183712.6370  11535.8600  15519.295
157    21459       0.0000    131.7600    171.080

[158 rows x 4 columns]

In [285]:
# 없는 기초구역은 추가해주자
for bas_id in diff:
    add_bas = pd.DataFrame.from_dict([{'BAS_ID':bas_id,'공동주택':0,'근린생활시설':0,'단독주택':0}])
    agg_data = pd.concat([agg_data,add_bas],axis=0)

agg_data.sort_values(by='BAS_ID',inplace=True)
agg_data.reset_index(inplace=True,drop=True)
agg_data

    BAS_ID         공동주택      근린생활시설       단독주택
0    21300   10159.0300   8593.2900   1141.120
1    21301   37588.8090   2656.7800     43.830
2    21302   39264.4100   1760.5200    220.430
3    21303    1334.5200   1589.9600   1411.410
4    21304   14820.8240  27132.7250  32630.249
..     ...          ...         ...        ...
156  21456       0.0000    264.6700      0.000
157  21457  105772.8178  17128.6799   5662.219
158  21458  183712.6370  11535.8600  15519.295
159  21459       0.0000    131.7600    171.080
160  21460       0.0000      0.0000      0.000

[161 rows x 4 columns]

## 총연면적 생성

In [289]:
total_building_area = data.loc[:,use_col].groupby('BAS_ID')['연면적'].sum().to_frame().reset_index()
total_building_area

    BAS_ID          연면적
0    21300   19893.4400
1    21301   40289.4190
2    21302  132613.1700
3    21303    4335.8900
4    21304   78880.9930
..     ...          ...
154  21455   32613.7610
155  21456     264.6700
156  21457  128563.7167
157  21458  210767.7920
158  21459     302.8400

[159 rows x 2 columns]

In [293]:
# 기초구역별 총연면적과 공동, 근린, 단독 주택의 연면적을 병합
add_total_building_area = agg_data.merge(total_building_area,how='left',right_on='BAS_ID',left_on='BAS_ID')

# 공동,근린,단독 주택의 비율 연산
add_total_building_area.rename(columns={'연면적':'총연면적'},inplace=True)
add_total_building_area['공동주택 비율'] = (add_total_building_area['공동주택'] / add_total_building_area['총연면적']).apply(lambda x : round(x,3)*100)
add_total_building_area['근린생활시설 비율'] = (add_total_building_area['근린생활시설'] / add_total_building_area['총연면적']).apply(lambda x : round(x,3)*100)
add_total_building_area['단독주택 비율'] = (add_total_building_area['단독주택'] / add_total_building_area['총연면적']).apply(lambda x : round(x,3)*100)

# 널값 채우고 출력
add_total_building_area.fillna(0,inplace=True)
add_total_building_area

,BAS_ID,공동주택,근린생활시설,단독주택,총연면적,공동주택 비율,근린생활시설 비율,단독주택 비율
0,21300,10159.0300,8593.2900,1141.120,19893.4400,51.1,43.2,5.7
1,21301,37588.8090,2656.7800,43.830,40289.4190,93.3,6.6,0.1
2,21302,39264.4100,1760.5200,220.430,132613.1700,29.6,1.3,0.2
3,21303,1334.5200,1589.9600,1411.410,4335.8900,30.8,36.7,32.6
4,21304,14820.8240,27132.7250,32630.249,78880.9930,18.8,34.4,41.4
...,...,...,...,...,...,...,...,...
156,21456,0.0000,264.6700,0.000,264.6700,0.0,100.0,0.0
157,21457,105772.8178,17128.6799,5662.219,128563.7167,82.3,13.3,4.4
158,21458,183712.6370,11535.8600,15519.295,210767.7920,87.2,5.5,7.4
159,21459,0.0000,131.7600,171.080,302.8400,0.0,43.5,56.5
160,21460,0.0000,0.0000,0.000,0.0000,0.0,0.0,0.0

In [294]:
result = basis_area.merge(add_total_building_area,how='inner',right_on='BAS_ID',left_on='BAS_ID')
result.sort_values(by='BAS_ID',inplace=True)
result.reset_index(inplace=True,drop=True)
# result= result.fillna(0)
result

,BAS_ID,geometry,공동주택,근린생활시설,단독주택,총연면적,공동주택 비율,근린생활시설 비율,단독주택 비율
0,21300,"POLYGON ((172624.863 447152.276, 172670.940 44...",10159.0300,8593.2900,1141.120,19893.4400,51.1,43.2,5.7
1,21301,"POLYGON ((173295.105 447039.530, 173295.147 44...",37588.8090,2656.7800,43.830,40289.4190,93.3,6.6,0.1
2,21302,"POLYGON ((173891.544 446881.024, 173891.543 44...",39264.4100,1760.5200,220.430,132613.1700,29.6,1.3,0.2
3,21303,"POLYGON ((173668.839 446507.436, 173658.833 44...",1334.5200,1589.9600,1411.410,4335.8900,30.8,36.7,32.6
4,21304,"POLYGON ((173891.543 446881.019, 173891.500 44...",14820.8240,27132.7250,32630.249,78880.9930,18.8,34.4,41.4
...,...,...,...,...,...,...,...,...,...
156,21456,"POLYGON ((175340.378 442397.517, 175349.045 44...",0.0000,264.6700,0.000,264.6700,0.0,100.0,0.0
157,21457,"POLYGON ((178051.841 442436.153, 178041.770 44...",105772.8178,17128.6799,5662.219,128563.7167,82.3,13.3,4.4
158,21458,"POLYGON ((176592.215 442885.941, 176595.066 44...",183712.6370,11535.8600,15519.295,210767.7920,87.2,5.5,7.4
159,21459,"POLYGON ((176641.304 442645.152, 176647.527 44...",0.0000,131.7600,171.080,302.8400,0.0,43.5,56.5
160,21460,"POLYGON ((178740.177 441942.916, 178742.755 44...",0.0000,0.0000,0.000,0.0000,0.0,0.0,0.0

In [295]:
result.to_csv(os.path.join(preprocessing_path,'기초구역별_건물_연면적(집계후).csv'),index=False)